
  <!-- <mat-form-field class="full-width">
    <div class="textArea">
        <textarea matInput rows="8" [(ngModel)]="enteredValue"></textarea>              
      </div>
</mat-form-field> -->
<mat-card>
<mat-form-field>
  <!-- <mat-label>Leave your thoughts here....</mat-label> -->
  <div class="input-box">
  <textarea matInput rows="8" [(ngModel)]="enteredValue" placeholder="Ex. It makes me feel..."></textarea>
</div>
</mat-form-field>
</mat-card>
<button mat-flat-button class="sub-button" (click)="addPost()">Submit</button>

  